XmlFiles/Xsd/FlightManager.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://flights.com"
            xmlns:flm = "http://flights.com"
            elementFormDefault="qualified">

    <xsd:include schemaLocation="User.xsd" />
    <xsd:include schemaLocation="Flight.xsd" />
    <xsd:include schemaLocation="Ticket.xsd" />
    <xsd:include schemaLocation="Booking.xsd" />

    <xsd:element name="user" type="flm:User" />
    <xsd:element name="flight" type="flm:Flight" />
    <xsd:element name="ticket" type="flm:Ticket" />
    <xsd:element name="booking" type="flm:Booking" />
    
</xsd:schema>